@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Righteous&family=Urbanist:wght@500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul li,
ol li {
  list-style-type: none;
}

img {
  max-width: 100%;
  max-height: 100%;
}

button {
  display: block;
  border: none;
  color: inherit;
  font: inherit;
  background-color: transparent;
  cursor: pointer;
  transition: color 0.3s ease;
}

.btn-primary {
  font: 700 18px "Inter", Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  text-align: center;
  background-color: #c99e71;
  padding: 20px 36px;
}

.btn-primary:hover {
  background-color: #b67e42;
}

.pd-bottom-140 {
  padding-bottom: 140px;
}

.container {
  max-width: 1340px;
  margin: 0 auto;
  padding: 0 75px;
}

.header-container {
  padding: 0 10px;
}

body {
  color: #fff;
  font: 500 16px/28px "Urbanist", Arial, Helvetica, sans-serif;
  background-color: #14110e;
}

.title-primary {
  text-align: center;
  font: 600 18px/22px "Urbanist", Arial, Helvetica, sans-serif;
  color: #c99e71;
  margin-bottom: 12px;
}

.sub-title-primary {
  text-align: center;
  font: 400 48px/62px "Righteous", cursive;
  color: #fff;
  margin-bottom: 56px;
}

/* Header */

.header {
  padding: 32px 0;
  background-color: #1c1814;
}

.header__wrapper,
.header__wrapper__nav-main,
.header__wrapper__nav-main__list,
.header__wrapper__action {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__wrapper__nav-main {
  flex-grow: 1;
}

.header__wrapper__nav-main__list {
  gap: 48px;
  font: 400 18px "Inter", Arial, Helvetica, sans-serif;
}

.header__wrapper__nav-main__list__item__link {
  color: inherit;
  text-decoration: none;
  transition: color 0.3s ease;
}

.header__wrapper__nav-main__list__item__link.active {
  color: #c99e71;
  font-weight: 700;
  cursor: default;
}

.header__wrapper__nav-main__list__item__link:hover {
  color: #c99e71;
}

.header__wrapper__nav-main__logo {
  width: 72px;
  height: 60px;
}

.header__wrapper__action {
  gap: 50px;
  margin-left: 48px;
}

.header__wrapper__action__search path,
.header__wrapper__action__cart path {
  transition: stroke 0.3s ease;
}

.header__wrapper__action__search:hover path,
.header__wrapper__action__cart:hover path {
  stroke: #c99e71;
}

/* Hero */
.hero {
  background: url(../images/hero.png) 50% 0% / cover no-repeat;
}

.hero__inner {
  display: flex;
  justify-content: space-between;
  padding: 148px 0 158px;
}

.hero__inner__banner-info {
  max-width: 530px;
}

.hero__inner__banner-info__title {
  font: 72px/94px "Righteous", cursive;
}

.hero__inner__banner-info__text {
  font-size: 20px;
  line-height: 36px;
  opacity: 0.8;
  text-transform: capitalize;
  margin: 32px 0 64px;
}

.hero__inner__banner-info__btn {
  padding: 24px 40px;
}

.hero__inner__video-btn {
  position: relative;
  display: flex;
  align-items: flex-end;
  align-self: flex-end;
  height: 110px;
  font: 400 16px "Inter", Arial, Helvetica, sans-serif;
  text-transform: uppercase;
}

.hero__inner__video-btn:hover {
  color: #c99e71;
}

.hero__inner__video-btn::before {
  position: absolute;
  content: "";
  top: 0;
  left: 50%;
  width: 66px;
  height: 66px;
  border: 2px solid #fff;
  border-radius: 50%;
  background: url(../images/play-video.svg) 50%/14px 18px no-repeat;
  transform: translateX(-50%);
}

/* Features */

.features {
  display: flex;
  justify-content: space-between;
  gap: 36px;
  padding-top: 140px;
}

.features__item {
  font: 24px/30px "Righteous", cursive;
}

.features__item__dark {
  margin-right: 12px;
  color: #c99e71;
}

.features__item__img {
  display: block;
  margin-top: 24px;
}

/* History */

.history__inner {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  grid-template-rows: repeat(1fr, 2);
  align-items: stretch;
  gap: 32px;
}

.history__inner__img:first-child {
  grid-column: 1/2;
  grid-row: 1/2;
}

.history__inner__img:nth-child(2) {
  grid-column: 2/3;
  grid-row: 1/3;
}

.history__inner__img:last-child {
  grid-column: 1/2;
  grid-row: 2/3;
}

.history__inner__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-column: 3/4;
  grid-row: 1/3;
  padding: 0 56px;
  background-color: #1c1814;
}

.history__inner__info__title.title-primary,
.history__inner__info__sub-title.sub-title-primary {
  text-align: left;
}

.history__inner__info__sub-title.sub-title-primary {
  margin-bottom: 36px;
}

.history__inner__info__text {
  opacity: 0.8;
  text-transform: capitalize;
}

/* Popular */

.popular__inner__wrapper {
  display: flex;
  justify-content: space-between;
  gap: 36px;
  margin-bottom: 56px;
}

.popular__inner__wrapper__card {
  padding: 48px 48px 40px 48px;
  background-color: #121315;
  text-align: center;
  text-transform: uppercase;
}

.popular__inner__wrapper__card:hover .popular__inner__wrapper__card__btn {
  display: flex;
}

.popular__inner__wrapper__card:hover .popular__inner__wrapper__card__rating,
.popular__inner__wrapper__card:hover .popular__inner__wrapper__card__price {
  display: none;
}

.popular__inner__wrapper__card__img {
  display: block;
  margin-bottom: 36px;
}

.popular__inner__wrapper__card__rating {
  display: flex;
  justify-content: center;
  gap: 14px;
  height: 20px;
}

.popular__inner__wrapper__card__rating__title {
  color: #c99e71;
  font-weight: 500;
  line-height: 22px;
}

.popular__inner__wrapper__card__rating__list {
  display: flex;
  justify-content: space-between;
  gap: 4px;
}

.popular__inner__wrapper__card__title {
  font: 400 24px/30px "Righteous", cursive;
  margin: 20px 0;
}

.popular__inner__wrapper__card__price {
  display: block;
  font-size: 18px;
  font-weight: 600;
}

.popular__inner__wrapper__card__price__dark {
  color: #c99e71;
  font: 400 18px "Inter", Arial, Helvetica, sans-serif;
}

.popular__inner__wrapper__card__btn {
  display: none;
  justify-content: center;
  align-items: center;
  gap: 12px;
  width: 170px;
  font: 600 18px/22px "Urbanist", Arial, Helvetica, sans-serif;
  text-transform: none;
  margin: 38px auto 0;
  padding: 12px 0;
}

.popular__inner__link {
  display: block;
  width: 252px;
  margin: 0 auto;
  font: 700 18px "Inter", Arial, Helvetica, sans-serif;
  color: #fff;
  text-decoration: none;
}

/* Discover */

.discover__inner {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  padding: 85px 80px;
  background-color: #1c1814;
}

.discover__inner__img {
  display: block;
  margin: 0 auto;
  max-height: 360px;
}

.discover__inner__wrapper {
  max-width: 535px;
  width: 100%;
}

.discover__inner__wrapper__title {
  margin-bottom: 36px;
  text-align: left;
}

.discover__inner__wrapper__text {
  opacity: 0.8;
  text-transform: capitalize;
}

.discover__inner__wrapper__link {
  display: block;
  width: 215px;
  margin-top: 36px;
  color: #fff;
  text-decoration: none;
}
